{% extends "base.html" %}
{% block title %}HOLLYS NOTICE{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "css/tabular.css" %}{% endblock %}
{% block content %}
    <!--div#content 내부로 전체 콘텐츠 이동-->
    <div id="content">
        <h1 class="archive">지난 EVENT 모음</h1>
        <ul class="archive_year">
            {% for date in date_list %}
                <li style="display: inline;">
                    <a href="{% url 'blog:post_year_archive' date|date:'Y' %}">
                        {{ date|date:"Y" }}년
                    </a>
                </li>&nbsp;&nbsp;
            {% endfor %}
        </ul>
        <br/>
        <div class="archive_tt">
            <table id="archive_table">
                <tr class="archive_tr">
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성일</th>
                </tr>
                {% for post in object_list %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>
                            <a href="{{ post.get_absolute_url }}">
                                <strong>{{ post.title }}</strong>
                            </a>
                        </td>
                        <td>{{ post.modify_date|date:"Y-m-d" }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

