{% extends "base.html" %}
{% block title %}HOLLYS NOTICE{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "css/event.css" %}{% endblock %}
{% block content %}
  <!--div#content 내부로 전체 콘텐츠 이동-->
  <div id="content" class="centered">

      <h1>NOTICE</h1>
         <div class="event_view_wr">
        <!-- 이벤트 list -->
        <div class="event_listBox03">
            <dl class="event_list">
                <h3><dt><span style="">{{ object.title }}</span> <span></span></dt></h3>
                 <h5><dt><span style="">{{ object.modify_date|date:"Y년 m월 d일"  }}</span> <span></span></dt></h5>
            </dl>
        </div>
        <div class="event_listBox03">
            <dl class="event_list">
                <h3><dt><span style="">내용</span> <span></span></dt></h3>
                <hr class="line">
                 <h5><dt><span style="">{{ object.content|linebreaks }}</span> <span></span></dt></h5>
            </dl>
        </div>
        <div class="event_listBox03">
            <dl class="event_list">
                <h3><dt><span style="">태그</span> <span></span></dt></h3>
                <hr class="line">
                 <h5><dt><span style="">                  {% for tag in tags %}
                      <a href="{% url 'blog:tagged_object_list' tag.name %}">
                        {{tag.name}}&nbsp;&nbsp;
                      </a>
                  {% endfor %}</span> <span></span></dt></h5>
            </dl>
        </div>
        <div class="event_listBox03">
            <dl class="event_list">
                <h3><dt><span style="">태그 클라우드</span> <span></span></dt></h3>
                <hr class="line">
                 <dt><embed type="text/html" src="{% url 'blog:tag_cloud' %}"></dt>
            </dl>
        </div>

      <br/>
        <p class="other_posts">
          {% if object.get_previous_by_modify_date %}
              <a href="{{ object.get_previous_post.get_absolute_url }}" title="View previous post">
                  &laquo;-- 이전 게시글
              </a>
          {% endif %}

          {% if object.get_next_by_modify_date %}
              &nbsp; |
              <a href="{{ object.get_next_post.get_absolute_url }}" title="View next post">
                 다음 게시글 --&raquo;
              </a>
          {% endif %}
        </p>
  </div>
  <div class="btn_wr01">
        <a class="btnType01" href="{% url 'bookmark:index' %}">목록</a>
  </div>
{% endblock %}}